<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netlify-Express Demo | 404</title>
    <base href="/">

    <!-- Styles -->
    <link rel="stylesheet" href="styles/global.css">

    <!-- Local Scripts -->
    <script src="scripts/app.js" defer></script>
</head>
<body>
    <h1>Netlify-Express Demo</h1>
    <p>This page does not exist.</p>
</body>
</html>