<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/api">API</a></li>
        <li class="mobile"><a href="https://github.com/ReidCameron/netlify-express-demo/" target="_blank" rel="noopener noreferrer">GitHub Repo</a></li>
    </ul>
    <h1 class="desktop">Netlify-Express Demo</h1>
    <ul>
        <li class="desktop"><a href="https://github.com/ReidCameron/netlify-express-demo/" target="_blank" rel="noopener noreferrer">GitHub Repo</a></li>
    </ul>
</header>